.topnav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
      display: none;
      font-size: 2.5rem;
      background-color: var(--white);
      color: var(--black);
      border-radius: 10px;
      cursor: pointer;
      transition: all ease-in-out 1s;

      // &:hover {
      //   background-color: grey;
      //   color: var(--white);
      //   cursor: pointer;
      //   transition: all ease-in-out 1s;
      // }
    }

    .nav-center {
      ul {
        margin-top: 1rem;
        display: flex;
        list-style-type: none;

        li {
          color: var(--secondary-grey);
          font-size: 15px;
          font-weight: 500;
          &:hover {
            border-bottom: 3px solid var(--light-green);
            transition: all ease 0.5s;
          }
        }
      }
    }
    img {
      width: 15rem;
    }

    .mobile-nav {
      display: none;
      background-color: var(--grey-black);

      transition: 3s ease-in-out all;
      &.active {
        left: 0;
        transition: 3s ease-in-out all;
      }
      ul {
        list-style-type: none;

        li {
          color: var(--white);
          &:hover {
            background-color: var(--black);
          }
        }
      }
      position: absolute;
      top: 11rem;
      right: 1000rem;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 992px) {
  .nav-center,
  .nav-end {
    display: none;
  }

  .mobile-nav {
    display: block !important;
  }

  .container {
    i {
      display: block !important;
    }
  }
}
