.services{
    margin-top: 7rem;
    .service-wrapper{
        background-color: var(--grey-black);
        padding: 2rem;
        height: 100%;
        width: 100%;
        &:hover{
            background-color: var(--grey);
            transition: all ease 1s;
            cursor: pointer;
        }

        p{
            font-size: 24px;
            font-weight: 500;
        }
    }
}