.works {
  margin-top: 7rem;

  .tab-wrapper {
    .tab-btn {
      background-color: transparent;
      color: var(--white);
      font-size: 18px;
      border: none;
      outline: none;
      font-weight: 500;

      &.active {
        border-bottom: 5px solid var(--light-green);
      }
    }
  }

  .tab-content-wrapper {
    min-height: 70vh;
  }
}

@media screen and (max-width: 576px) {
  .tab-wrapper {
    overflow-x: scroll;
    display: flex;
    &::-webkit-scrollbar {
      height: 10px;
    }
    .tab-btn {
      min-width: 143px;
      &:nth-child(4) {
        min-width: 155px;
      }
    }
  }
}
