.works{
    margin-top: 7rem;

    .tab-wrapper .tab-btn{
        background-color: transparent;
        color: var(--white);
        font-size: 18px;
        font-weight: 500;
    }

    .tab-content-wrapper{
        min-height: 60vh;
    }
}