@import url(./components/navbar.scss);
@import url(./utility.scss);
@import url(./components/herosection.scss);
@import url(./components/services.scss);
@import url(./components/works.scss);
@import url(./components/Testimonials.scss);
@import url(./components/blog.scss);
@import url(./components/new.scss);
@import url(./components/footer.scss);
:root {
  --black: #000000;
 --light-green: #1EB25E;
  --dark-green:#00B54E;
  --white: white;
  --grey: grey;
  --secondary-grey:#C9C9C9;
  --secondary-black: #0D0D0D;
  --grey-black:#131313;
  --deep-gray:#D9D9D9;
}

body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  overflow-x: hidden;
}