// components class

.general-btn {
  background-color: var(--light-green);
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
}
.hero-btn {
  background-color: var(--white);
  border-radius: 50px;
  padding: 0.4rem 1.2rem;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
  i {
    margin-top: 0.4rem;
    margin-left: 0.3rem;
  }

  &:hover {
    background-color: var(--black);
    color: var(--white);
    transition: all ease 1s;
  }
}

.heading {
  font-weight: 600;
  font-size: 55px;
}

.hero-heading {
  font-weight: 600;
  font-size: 55px;
}

.heading-2 {
  font-size: 40px;
  font-weight: 600;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
}

.paragraph-2 {
  font-size: 12px;
  font-weight: 400;
}

.paragraph-4 {
  font-size: 10px;
  font-weight: 400;
}

.paragraph-3 {
  font-size: 26px;
  font-weight: 500;
}

.green-header {
  font-weight: 24px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .hero-heading {
    font-size: 35px !important;
    font-weight: bold !important;
  }
}

@media screen and (max-width: 1200px) {
  .hero-heading {
    font-size: 45px;
  }
}

@media screen and (max-width: 992px) {
  .heading {
    font-size: 40px;
  }
}
